{% extends 'base.html'%}
{% load bootstrap3 %}
{% block content%}
{{block.super}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3"></div><!--empty-->
            <div class="col-sm-6">
                <div class="col-md-6">
                {% for post in posts%}
                    <div class="card" style="margin-top:5%;margin-bottom:2%;">
                        <div class="card-header">
                            {% if post.user.profile.profile_photo%}
                                <a><img class="rounded-circle" src="{{post.profile.avatar.url}}"
                                        style="height:80px;width: 80px;" alt="My profile image">
                                    <strong style="font-size:19px;">{{post.user | title}}</strong>
                                </a>
                            {% else%}
                                <a class="fa fa-user fa-3x" style="margin-top:1%"><span
                                        style="font-size:19px;">{{post | title}}</span>
                                </a>
                            {% endif%}
                        </div>
                        <div class="card-body text-center">
                            <img class="img-fluid" src="{{post.image.url}}" style="height: 300px; width: 400px;"
                                type="button" class="btn btn-sm btn-outline-success" id="post{{post.id}}"
                                data-whatever="{{post.id}}" data-toggle="modal" data-target="#extraModal{{post.id}}">
                        </div>
                        <div class="card-footer bg-white">
                            <p method= "get" action="/"><strong>{{post.user}}</strong> {{post.caption}}</p>
                            <a href="{% url 'homePage' %}"><button class="btn p-0" type="button" name="button"><img class="m-0"
                                src="https://cdn2.iconfinder.com/data/icons/media-player-ui/512/Media-Icon-25-512.png"
                                alt="like button" height="50" width="50"></button></a>
                            <p>{{post.likes}} likes</p>
                            <strong>Comments:</strong>
                            {% for comment in comments %}
                                {% if post.id == comment.post.id%}
                                <p><strong>{{comment.user}}</strong> {{comment.comment | title}}</p>
                                {% endif%}
                            {% endfor %}
                            <form method="post" style="margin-top: 1.3em;">
                                {{form.comment}}
                                {% csrf_token %}
                                <input type="hidden" value="{{post.id}}" name="post_id" />
                                <button type="get,submit", class="btn btn-primary">Comment</button>
                            </form>
                        </div>
                    </div>
                {% endfor%}
            </div>
            <div class="col-sm-3"></div><!--empty-->
        </div>
        </div>
        {% for post in posts %}
            <div class="modal fade" id="extraModal{{post.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                    <div class="modal-content ">
                        <div class="modal-body row" style="padding:0;">
                            <img style="height: 500px;padding:0;margin: 0;" id="image" class=" col-sm-12 col-md-7 text-center"
                                src='{{post.image.url}}'>
                            <div class=" col-sm-12 col-md-5 card">
                                <div class="card-header bg-white">
                                    <p><span>Posted by:
                                        </span><strong>{{post.user| title}}</strong></p>
                                    <p><span>Caption:
                                        </span>{{post.caption}}</p>
                                </div>
                                <div class="card-body">
                                    {% for comment in comments %}
                                    {% if post.id == comment.post.id%}
                                    <p><strong>{{comment.user}}</strong> {{comment.comment | title}} <span></span>
                                        
                                    {% endif%}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor%}
    </div>
{% endblock%}