{% extends 'base.html'%}
{% load bootstrap3 %}

{% block content %}
{% for user in user%}
  <div class="container">
    <p><b>{{user.username}}</b></p>
    <p><i>{{ user.profile.bio }}</i></p>
    <hr>
    {% for post in posts %}
    <img class="rounded-circle" src="{{post.profile.avatar.url}}" alt="avatar" height="100" width="100">

    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-3">

        </div>
        <div class="col-md-6 col-sm-6 myimages">
          <div>
            <img class="img-thumbnail" src="{{post.image.url}}" alt="users posts" height="600" width="600">
            <p>{{post.caption}}</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-3">

        </div>
    {% endfor %}
  </div>
{%endfor%}
{% endblock %}